<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Creator LinkedIn", "https://www.linkedin.com/in/jos%C3%A9-david-camacho-vargas-8699251b4/", class: "text-white" %></small>
    </div>
</footer>